/2048 project/x64/Debug/2048 project.exe
/2048 project/x64/Debug/2048 project.pdb
/2048 project/.vs/2048 project/FileContentIndex/84c24b7a-2319-4a1f-9fb1-3d88cb637f5a.vsidx
/2048 project/.vs/2048 project/FileContentIndex/read.lock
/2048 project/.vs/2048 project/v17/.suo
/2048 project/.vs/2048 project/v17/Browse.VC.db
/2048 project/.vs/2048 project/v17/Browse.VC.db-shm
/2048 project/.vs/2048 project/v17/Browse.VC.db-wal
/2048 project/.vs/2048 project/v17/Browse.VC.opendb
/2048 project/.vs/2048 project/v17/ipch/AutoPCH/81d301b8a65200e3/2048 PROJECT.ipch
/2048 project/2048 project/x64/Debug/2048 project.exe.recipe
/2048 project/2048 project/x64/Debug/2048 project.ilk
/2048 project/2048 project/x64/Debug/2048 project.log
/2048 project/2048 project/x64/Debug/2048 project.obj
/2048 project/2048 project/x64/Debug/2048 project.tlog/2048 project.lastbuildstate
/2048 project/2048 project/x64/Debug/2048 project.tlog/CL.command.1.tlog
/2048 project/2048 project/x64/Debug/2048 project.tlog/CL.read.1.tlog
/2048 project/2048 project/x64/Debug/2048 project.tlog/CL.write.1.tlog
/2048 project/2048 project/x64/Debug/2048 project.tlog/link.command.1.tlog
/2048 project/2048 project/x64/Debug/2048 project.tlog/link.read.1.tlog
/2048 project/2048 project/x64/Debug/2048 project.tlog/link.write.1.tlog
/2048 project/2048 project/x64/Debug/grid.obj
/2048 project/2048 project/x64/Debug/vc143.idb
/2048 project/2048 project/x64/Debug/vc143.pdb
